@import "../../node_modules/swiper/swiper-bundle.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev, .swiper-button-next {
    color: #ea00c8;
    background-color: rgba(20,20,20,0.3);
    padding: 35px 30px;
    text-rendering: auto;
}

.sb-red {
    box-shadow: 0 0 2px 1px #4d4d4d,
    0 0 3px 2px #666666,
    0 0 4px 3px #7b7b7b,
    0 0 5px 4px #999999,
    inset 0 0 8px 0 #af3838;
}

.sb-purple1 {
    box-shadow: 0 0 2px 1px #4d4d4d,
    0 0 3px 2px #666666,
    0 0 4px 3px #7b7b7b,
    0 0 5px 4px #999999,
    inset 0 0 8px 0 #7e00ffad;
}

@layer base {
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-lg;
    }
}
